# Ignore node_modules (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore build files
dist/
build/

# Ignore temporary files
*.tmp
*.temp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore environment variable files
.env
.env.local