# OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# Log files
*.log

# Dependency directories
node_modules/    # Node.js

# Build directories
dist/
build/

# Environment files
.env             # Environment variables
.env.local
.env.*.local
